blinker==1.4
certifi==2019.3.9
chardet==3.0.4
cssmin==0.2.0
docutils==0.14
feedgenerator==1.9
idna==2.6
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
pelican==3.7.1
pkginfo==1.4.1
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.19.4
twine==1.9.1
Unidecode==0.4.21
urllib3==1.22
webassets==0.12.1
