{% set SHIORI_HIDE_SIDEBAR = SHIORI_HIDE_SIDEBAR|default(False) %}
{% set SHIORI_INDEX_ARTICLES_COUNT = SHIORI_INDEX_ARTICLES_COUNT|default(5)|int %}
{% set SHIORI_THEME = SHIORI_THEME|default('default')|string|lower %}
{% set SHIORI_AVATAR_URL = SHIORI_AVATAR_URL|default('https://robohash.org/pelican-shiori.png?size=128x128')|string|lower %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Montserrat:700,400" rel='stylesheet' type="text/css">
        <link href="//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic" rel="stylesheet" type='text/css'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        {% assets filters="jinja2,scss,cssmin", output="css/style.min.css", "css/shiori.scss" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}

        <title>{% block title %}{% endblock %}</title>

        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
              type="application/atom+xml"
              rel="alternate"
              title="{{ SITENAME }} Atom Feed" />
        {% endif %}

        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
              type="application/rss+xml"
              rel="alternate"
              title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {% if article %}
        <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>
        <meta name="description" content="{{ article.summary|striptags }}">
        <meta name="date" content="{{ article.date|strftime('%b %d, %Y') }}" />
        <meta name="summary" content="{{ article.summary|striptags }}" />
        {% elif page %}
        <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}"/>
        <meta name="summary" content="{{ page.summary|striptags }}" />
        {% else %}
        <meta name="description" content="{{ SITE_DESCRIPTION }}" />
        {% endif %}

        <meta name="author" content="{{ AUTHOR }}">
    </head>
    <body>
        {% set navbar_class = 'default' if SHIORI_THEME == 'default' else 'inverse' %}

        <div class="navbar navbar-{{ navbar_class }} navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-toggle-wrapper visible-xs">
                        <button type="button"
                                class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <a href="/" class="navbar-brand">{{ SITENAME }}</a>
                </div>
                <div class="collapse navbar-collapse js-navbar-collapse">
                    <ul class="navbar-nav nav">
                        <li><a href="{{ SITEURL }}/posts">Archive</a></li>
                    </ul>
                    <ul class="navbar-nav nav navbar-right">
                        {% for other_page in pages %}
                        <li {% if page == other_page %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ other_page.url }}">
                                {{ other_page.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% set col_class = 'col-sm-12' if SHIORI_HIDE_SIDEBAR else 'col-sm-8' %}

                <div class="{{ col_class }}">
                    {% block content %}{% endblock %}
                </div>

                {% if not SHIORI_HIDE_SIDEBAR %}
                <div class="col-sm-4">
                    <h3 class="section-header">
                        Author
                    </h3>

                    <div class="media">
                        <h4 class="media-heading">{{ AUTHOR }}</h4>
                        <div class="media-body">
                            <img src="{{ SHIORI_AVATAR_URL }}">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </body>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</html>
